# Python Basics

## Floats and Integers

Starting from the basics, we have integers or floats. They are... numbers. The difference is that integers are whole numbers, and floats allow for decimals. In the example below, we have an integer.

In [ ]:
1

How do I know? I can use a function to check this out.

In [ ]:
type(1)

The number below is a float.

In [ ]:
100.5

Let's check this as well

In [ ]:
type(1.0)

## Strings

Strings are pieces of text and are **always** encapsulated by either a single quote (') or a double-quote(")

In [ ]:
'This is some text!'

If you forget to put the quotes, you will have a problem...

In [ ]:
This is some text!

The quotes need to match each other, also. Otherwise, you will have a problem...

In [ ]:
"This is some text!'

In [ ]:
"There's some text"

If you create a string with single or double quotes, it can only contain one line. Look what happens if we add a line break:

In [ ]:
'This is 
some text!'

How can we handle this? Well... we can add three quotes in the beginning and the end of the string. For example:

In [ ]:
'''I can type whatever I want
And add some lines
And more lines
and more lines '''

You will notice that there is an \n appearing where the line-break should be. That's normal. If we print the same string, you will see that the \n disappears:

In [ ]:
print('''I can type whatever I want
And add some lines
And more lines
and more lines ''')

## Special Cases: True, False and None

Python also has some special cases when it comes to data types. Without getting into too much detail, they are:
* True 
* False
* None

It is important to know them for three reasons:
1. They will be used in later on in conditions (we'll get into that later)
2. None, in particular, can also mean a missing value
3. You cannot use True, False or None as a variable name (we'll get into that later as well)

In [ ]:
True

# Data structures: Variables, Lists, Tuples and Dictionaries

So far, we've seen different data types, e.g., integers, floats and strings. Now we will see how we can work (and organize) data in Python.

## Variables

The first concept we will explore is of variables. To start with, it's important to keep in mind that **variable** in Python means something very different from what it means in SPSS or other statistical programs. 

### Variables in statistical programs
In SPSS, we're used to understand variables as specific types of measures for a given observation (case). For example:

| Respondent ID  | Height  | Weight   | Age  | Nationality  |
|---|---|---|---|---|
| 1  | 1.78  | 75  | 25  | Dutch  |
| 2  | 1.80  | 63  | 27  | German  |
| 3  | 1.67  | 57  | 22  | French  |


In the table above, we would say that we have four variables: Respondent ID, Height, Weight, Age and Nationality. That's usually how a statistical program defines a variable.


### Variables in programming languages
In Python, a variable is simply a "space" in memory that can hold a specific value. This is somewhat generic, so let's see some examples.

In [ ]:
a = 1

By typing a = 1, we have created a variable (named *a*) and assigned a value of 1 to it. We can then print a to see what it contains:

In [ ]:
print(a)

We can also do some operations with this variable we just created. These operations are always dependent on the data type. For example, we can do mathematical operations with variables that contain integers or floats.

In [ ]:
a + 3

Keep in mind that, with the operation above, we did not *change*  the contents of a, but simply used it in an operation. So if we print a again, it will still have the same value.

In [ ]:
print(a)

To change the value of a, we need to declare it again. For example:

In [ ]:
a = a + 4

In [ ]:
print(a)

Variables don't need to be only numbers (integers or floats). We can create a string variable. For example:

In [ ]:
b = 'This is some text!'

In [ ]:
print(b)

In [ ]:
type(b)

Because the value contained in b is a string, however, we cannot do mathematical operations with it.

In [ ]:
b + 1

Well, we actually can... but with another string.

In [ ]:
c = 'And now even more text'

In [ ]:
b + c

In [ ]:
d = b + c

In [ ]:
d

## Lists

Another interesting concept in Python is the ability to create lists. Lists are what their name says... a list of items. For example:

In [ ]:
[1,2,'text', 3]

The item above is a list. Lists are created like this:
* They start with a [
* Inside them, we include the elements separated by commas
* We end a list with a ]

What we did above was a list, but it's not really useful as it is not stored in memory. We can do that by creating a variable, and defining it as a list. For example:

In [ ]:
mylist = [1, 2, 'text', 3, 4, 5]

In [ ]:
print(mylist)

Lists have a few advantages. You can, for example, add an item to a list:

In [ ]:
mylist.append(100)

In [ ]:
mylist

You can also access an item in a list by its location. You just need to keep in mind that Python starts counting at 0. So the first element in the list we created is at location 0, the second at location 1 etc... let's see this in practice.

In [ ]:
myitems = ['First item', 'Second item', 'Third item']

To access an item, I just need to type the name of the list, followed by location of the item I want (between []). Sounds complicated, but it's simply like this:

In [ ]:
myitems[0]

In [ ]:
myitems[1]

In [ ]:
myitems[2]

In [ ]:
myitems[-1]

As you saw in the previous example, we can also access the items in a list in reversed order. When I asked for something in location -1, Python showed the last item in the list.

Lists can have almost any type of data inside them... also other lists!

In [ ]:
g = [1, 2, [1,2]]

In [ ]:
g[0]

In [ ]:
g[1]

In [ ]:
g[2]

How can we access the first item of the list inside the list?

In [ ]:
g[2][0]

## Tuples

Tuples are a concept that is similar (but not the same) as lists. We will not use them as often as lists in this course, but it's good to know that they exist. They are defined by items in parenthesis, like this:

In [1]:
mytuple = (1,2,3)

We can also access items inside a tuple by their location:

In [2]:
mytuple[-2]

2

But, unlike lists, we cannot change them:

In [3]:
mytuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
mytuple = (1,2,3,4)

In [ ]:
mytuple

## Dictionaries

A very handy concept in Python is the option to create dictionaries. As you have noticed with lists and tuples, you can only access items by their location - so you need to know if they are the first, second, third element in the list to be able to get their value.

With dictionaries, we can store information with keys. So instead of accessing something by their location (or position), we find it by its key. Let's create an example:

In [ ]:
world_capitals = {
    'Netherlands': 'Amsterdam',
    'Germany' : 'Berlin',
    'Italy' : 'Rome',
    'France' : 'Paris',
    'UK' : 'London',
    'US': 'Washington'
}

First of all, notice that to create a dictionary, we opened it with a **{** and closed it with a **}**. Also, each item contains two elements (divided by **:**):
* A first element that we call key
* A second element that we call value

If I want to know the capital of Italy, I just need to:

In [ ]:
world_capitals['Italy']

But notice that we cannot access dictionary items by their location.

In [ ]:
world_capitals[3]

And we cannot append items.

In [ ]:
world_capitals.append('Brazil': 'Brasilia')

To add an item, we simply do:

In [ ]:
world_capitals['Brazil'] = 'Buenos Aires'

In [ ]:
world_capitals

And to correct a mistake - i.e., to update a dictionary item - I just assign it again.

In [ ]:
world_capitals['Brazil'] = 'Brasilia'

In [ ]:
world_capitals

In [ ]:
world_capitals['Brazil']

# Assignments


## 1. Removing items from a list and a dictionary

We saw how to add items to a list (using append) and to a dictionary (by assigning a new item). How can we remove items from a list or a dictionary though? Create a list and a dictionary below, and remove one item from each of them.

In [12]:
names = ["swa", "nam", "amb", "sat", "rash"]
print (names)
names.append("diana")
names.remove("rash")
print(names)

['swa', 'nam', 'amb', 'sat', 'rash']
['swa', 'nam', 'amb', 'sat', 'diana']

In [14]:
NameAge = {
    "swa": "34",
    "nam": "32",
    "amb": "33",
    "sat": "35",
    "rash": "32"
}
print (NameAge)
NameAge.pop("rash")
print (NameAge)
NameAge.popitem()
print (NameAge)

{'swa': '34', 'nam': '32', 'amb': '33', 'sat': '35', 'rash': '32'}
{'swa': '34', 'nam': '32', 'amb': '33', 'sat': '35'}
{'swa': '34', 'nam': '32', 'amb': '33'}

## 2. Playing with strings

* How can you convert the variable below to lower case?

In [23]:
allupper = 'THIS TEXT IS COMPLETELY IN UPPER CASE!'
print (allupper)
print (allupper.lower())

THIS TEXT IS COMPLETELY IN UPPER CASE!
this text is completely in upper case!

NameError: name 'allupper' is not defined

* How can we convert this string into a list of words?

In [35]:
sentence = '''This is a sentence with words separated by a lot of spaces.
How can we split it into a list of words?'''
print (sentence)
words = sentence.split(" ")
print (words)
length = len(sentence)
print ("Number of characters in sentence is", length)
lengthList = len(words)
print ("Number of words are ",lengthList)

This is a sentence with words separated by a lot of spaces.
How can we split it into a list of words?
['This', 'is', 'a', 'sentence', 'with', 'words', 'separated', 'by', 'a', 'lot', 'of', 'spaces.\nHow', 'can', 'we', 'split', 'it', 'into', 'a', 'list', 'of', 'words?']
Number of characters in sentence is 101
Number of words are  21

In [ ]:
print(sentence)

## 3. Organizing data

This is the most important challenge of this tutorial, as we will use the concepts here to think how to organize our (digital) data. The paragraph below contains a lot of information. How would you organize this data in a way that you can visualize and work with it later? Consider using lists, dictionaries, tuples... or whatever makes sense to you! 

Please explain why you decided to do what you did.


```
John Smith is 32 years old, is an analyst at Salesforce UK, and is father to a young boy. He is divorced. Mary Smith is 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokaw is a US journalist, born in 1940, married with three children.
```

In [38]:
NameStats = ["John = {"John": "32": "Analyst-Salesforce": "UK": "Father - 1 child": "Divorced"}", "Mary = {"Mary Smith": "21": "Student-Univ of Ams": "US"}", "Tom = {"Tom Brokaw": "str(int(2019-1940))": "Journalist"; "Father - 3 children": "Married"}"]
print(NameStats)

SyntaxError: invalid syntax (<ipython-input-38-8f28eb8e2188>, line 1)